<!DOCTYPE html>
<html>
    {{!-- Centers the image --}}
    <head> <title>The Rewards Page</title>
    <style>
        #image{
            display:block;
            margin-left: auto;
            margin-right: auto;
            width: 20%;
        }
        #href{
        }
    </style>
    </head>

<body>
        
    <h2>Congratulations!</h2>

    <div id="image">
      <h2>{{message}}</h2>
      <img src="kirby.gif" >
    </div>

        <button type="button5" value="Confetti">Confetti</button>
    <script src="confetti.js" defer type="module"></script>
    <div id="href">
    <a href="/">Return home to enter data</a>
    </div>
    

</body>

</html>