<!DOCTYPE html>
<html>
    {{!-- Centers the image --}}
    <head> <title>The Animation Page</title>
    <style>
    #image {
        margin: auto;
        width: 50%;
        border: 1px solid blueviolet;
        padding: 10px;
    }
    </style>
    </head>

<body>
        
    <h2>Congratulations!</h2>

    <div id="message">
        <h3>{{message}}</h3>
    </div>

    <div id="image">
        <img src="kirby.gif">
    </div>
    <a href="/">Return home to enter data</a>
    

</body>

</html>